
body
	font-size 16px
	font-family arial, sans-serif


/*
	NOTA
*/
@-webkit-keyframes nota-show  
	from  
		background rgba(0, 0, 0, 0) 
	 
 
@-webkit-keyframes nota_content-show  
	from  
		-webkit-transform translate3d(0, 100%, 0) 
		opacity 0 
	 
 

.nota  
	width 100% 
	height 100% 
	position fixed 
	left 0 
	top 0 
	background rgba(0, 0, 0, 0.8) 
	display -webkit-box 
	-webkit-box-align center 
	-webkit-box-pack center 
	-webkit-animation nota-show .4s both alternate 2 
	z-index  9 

	.nota_content  
		width 323px 
		height 293px 
		background url(img/nota_background.png) left top no-repeat 
		-webkit-box-sizing  border-box 
		padding 20px 
		color black 
		font-size 18px 
		-webkit-animation "nota_content-show" .4s both alternate 2 
		 

		textarea  
			background none 
			width 100% 
			height 150px 
			border 0 
			margin-top 40px 
			resize none 
			outline 0
		 
	 // para detener la animación 
	&.paused  
		-webkit-animation-play-state paused 

		.nota_content  
			-webkit-animation-play-state paused 
		 
	 
 